name: Runs dp_tools tests after retrieving test datasets

# Controls when the workflow will run
on:
  # Triggers the workflow on push but only for the "jonathan-branch-2" branch
  push:
    branches:
      - main
      - development
      - "*hotfix*"
  pull_request:
    types: [ opened, synchronize] 
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    name: Run dp_tools tests
    runs-on: ubuntu-latest

    ## TODO: Set up tracking via tower for tests
    #environment: Nextflow_Tower
    #env:
    #   TOWER_ACCESS_TOKEN: ${{ secrets.TOWER_ACCESS_TOKEN }}
    #   TOWER_WORKSPACE_ID: ${{ secrets.TOWER_WORKSPACE_ID }}
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v2

      - name: Install conda
        uses: nf-core/setup-nextflow@v1.1.0

      - name: Install dp_tools
        run: |
          conda install -c conda-forge -c bioconda python=3.10 pytest samtools
          export PATH=/usr/share/miniconda/bin:$PATH
          git clone -b  NF_RCP-F  --depth=1 https://github.com/J-81/test-datasets-extended.git --single-branch # Test assets for NF_RCP-F
          cd test-datasets-extended
          git remote set-branches --add origin NF_AGILE1CH # Test assets for NF_AGILE1CH
          git fetch
          git checkout origin/NF_AGILE1CH -- testdata
          cd -
          rm -rf test-datasets-extended/.git
          export TEST_ASSETS_DIR=$(pwd)/test-datasets-extended/testdata
          pip install ${GITHUB_WORKSPACE} pytest-console-scripts
          pytest ${GITHUB_WORKSPACE}
